h1{
    color:red;
} 

h2{
    color:#64C8FA;
}



.header{
    background-color:rgb(100,200,250);
    display:flex;
    justify-content:space-evenly;

}

.grid{
    background-color:yellow;
    
}